.ant-collapse-header{
  font-weight: bold !important;
}

.ant-collapse .ant-collapse-header .ant-collapse-header-text {
    font-weight: bold;
}
.ant-collapse {
    .ant-collapse-header {
        .ant-collapse-header-text {
            font-weight: bold !important;
        }
    }
}